<div class='additional-information'>
  <nav>
    <ul>
      <li><a href ng-click="panel.selectTab(1)" ng-class="{ 'active-tab': panel.isSelectedTab(1) }">First tab</a></li>
      <li><a ng-click="panel.selectTab(2)" href ng-class="{ 'active-tab': panel.isSelectedTab(2)}">Second tab</a></li>
      <li><a ng-click="panel.selectTab(3)" href ng-class="{ 'active-tab': panel.isSelectedTab(3) }">third tab</a></li>
    </ul>
  </nav>
  <div class='panels'>
    <panel-one></panel-one>
    <panel-two></panel-two>
    <panel-three></panel-three>
  </div>
</div>
